@tailwind base;
@tailwind components;
@tailwind utilities;

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ddd !important;
  transition: background-color 360000s ease-in-out;
} */